
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

form {
  height: 200px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.bottomRow {
  display: flex;
  justify-content: space-evenly;
}

.capsule > input {
  padding: 20px;
}

.capsule input:first-child {
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.capsule input:nth-child(2) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: darkseagreen;
}

.temp-units {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
